<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=0"/>
  <title>ESP8266 MPS Control</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/milligram.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body onload="init()">
  <header class="header gradient">
    <div class="wrapper">
      <h2>MICROPLATE PHOTOIRRADIATION SYSTEM (MPS)</h2>
    </div>
  </header>

  <div class="container">
    <div class="row mb-20">
      <div class="column">
        <form id="sendSerialText" class="pt-20 mb-0" onsubmit="sendSocketManually(event);">
          <fieldset>
            <label for="inputDirectField">Manual Control: Input Direct ASKII Commands to Test</label>
            <div class="row">
              <input type="text" id="inputDirectField" class="no-right-border">
              <input class="button-primary gradient no-left-border" type="submit" value="Send">
            </div>
          </fieldset>
        </form>

        <hr class="color-blue">

        <form enctype="multipart/form-data" method="POST" action="/upload" id="uploadJsonForm" class="pt-20 mb-0">
          <fieldset>
            <label for="filesToUpload">Select JSON file to onboard (up to 5 total)</label>
            <div class="row">
              <input id="filesToUpload" type="file" accept=".json" multiple />
              <input class="button-primary gradient no-left-border" type="submit" value="Upload">
            </div>
          </fieldset>
        </form>

        <ul id="fileList">

        </ul>
      </div>

      <div class="column pt-20">
        <div class="text-center mb-8">
          <b>MPS STATUS VIEW</b>
        </div>
        <div id="receiveText" class="receiveBlock">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column column-33">
        <div>
          <label for="selectExp">Select experiment from uploaded file</label>
          <select id="selectExp" ng-model="selectedExperiment">
          </select>
        </div>

        <div>
          <button class="gradient" type="button" id="runExperiment" name="runExperiment" onclick="runExperiment();">Run</button>
          <button class="gradient" type="button" id="stopExperiment" name="stopExperiment" onclick="stopExperiment();">Stop</button>
          <button class="gradient" type="button" id="removeExperiment" name="removeExperiment" onclick="removeExperiment();">Remove</button>
        </div>

      </div>

      <div class="column column-66">
        <div ng-if="dataExperiment">
          <div class="text-center mb-7">
            <b>VIEW SELECTED JSON EXPERIMENT</b>
          </div>
          <table id="resultTable">
            <thead>
              <tr>
                <th>Condition Time (s)</th>
                <th>Selected Wells</th>
                <th>Irradiance (mW/cm<sup>2</sup>)</th>
                <th>Duration (s)</th>
                <th>Start Delay (s)</th>
                <th># of Cycles</th>
                <th>Off</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="js/ang.js"></script>
</body>
</html>
